<ion-view title="about us">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a style="display:inline-block;" href="#" onclick="window.open('http://kasamaplus.info', '_system', 'location=yes'); return false;">
            <div style="text-align:center;">
                <img src="img/3ZIDLPMQS7ibvZclJIMS_00084-1.png" width="100%" height="auto">
            </div>
        </a>
        <div>
            <p>"ระบบมิเตอร์แบบเติมเงิน KASAMA+ ใช้หลักการเดียวกับระบบมือถือแบบเติมเงิน จ่ายก่อน ใช้ทีหลัง ช่วยให้ผู้ประกอบการลดต้นทุนในการทำงาน และช่วยให้ผู้ใช้งานไฟฟ้าประหยัดพลังงานได้อีกด้วย เหมาะสำหรับเจ้าของตลาด หอพัก อพาร์ทเมนต์ พื้นที่ให้เช่า "</p>
        </div>
    </ion-content>
</ion-view>