<ion-view title="Electric Card">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <ion-list>
            <ion-item ui-sref="menu.readCard">อ่านการ์ด</ion-item>
            <ion-item ui-sref="menu.sell">ขายหน่วยไฟฟ้า</ion-item>
            <ion-item ui-sref="menu.refund">คืนหน่วยไฟฟ้า</ion-item>
            <ion-item ui-sref="menu.userCard">สร้าง User Card</ion-item>
            <ion-item ui-sref="menu.resetCard">สร้าง Reset Card</ion-item>
            <ion-item ui-sref="menu.adminCard">สร้าง Admin Card</ion-item>
            <ion-item ui-sref="menu.reissueCard">สร้างการ์ดแทนการ์ดเดิม</ion-item>
            <ion-item ui-sref="menu.restoreCard">นำการ์ดกลับมาใช้</ion-item>
        </ion-list>
        <div style="text-align:center;">
            <img src="img/c9rnMFDcSACiKXLe9iqu_kasama-logo.gif" width="70%" height="auto">
        </div>
    </ion-content>
</ion-view>