<ion-view title="Sell">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div>
            <div>
                <p>
                </p>
                <center>

                        
                    <table border="2" width="100%" cellspacing="5" cellpadding="8" bgcolor="cyan" cols="2">
                        <tbody>
                            <tr>
                                <td colspan="2" align="center">ข้อมูลการ์ด</td>
                            </tr>
                            <tr>
                                <td>card no.</td>
                                <td>888-888-888</td>
                            </tr>
                            <tr>
                                <td>card type</td>
                                <td>User Card</td>
                            </tr>
                            <tr>
                                <td>Meter id</td>
                                <td>five</td>
                            </tr>
                            <tr>
                                <td>User Name</td>
                                <td>five</td>
                            </tr>
                            <tr>
                                <td>card type</td>
                                <td>User Card</td>
                            </tr>
                            <tr>
                                <td>Meter id</td>
                                <td>five</td>
                            </tr>
                            <tr>
                                <td>User Name</td>
                                <td>five</td>
                            </tr>

                        </tbody>
                    </table>
                </center>

                <p></p>
            </div>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.sellSummary" class="button button-stable button-block ">SUBMIT</a>
    </ion-content>
</ion-view>