<ion-view title="SET UP">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="menu.sETUP1" class="button button-stable button-block ">&gt;&gt;</a>
        <div class="button-bar"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Price1</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Price2</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Price3</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Price4</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Price5</span>
                <input type="number" placeholder="">
            </label>
            <ion-item class="item-divider">ค่าการ์ด</ion-item>
            <label class="item item-input">
                <span class="input-label">Card</span>
                <input type="number" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>