<ion-view title="User Card">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <div>
                <p>
                </p>
                <center>

                    
                    <table border="2" width="100%" cellspacing="5" cellpadding="8" bgcolor="cyan" cols="2">
                        <tbody>
                            <tr>
                                <td colspan="2" align="center">ข้อมูลการ์ด</td>
                            </tr>
                            <tr>
                                <td>card no.</td>
                                <td>888-888-888</td>
                            </tr>
                            <tr>
                                <td>card type</td>
                                <td>Empty Card</td>
                            </tr>
                        </tbody>
                    </table>
                </center>

                <p></p>
            </div>
        </div>
        <form class="list"></form>
        <form class="list">
            <label class="item item-select" name="User Name">
                <span class="input-label">User Name</span>
                <select>
                    <option>john dolye</option>
                    <option>sam smith</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Meter No.</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Unit Price</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Business</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Area</span>
                <select></select>
            </label>
            <ion-checkbox>Confirm</ion-checkbox>
            <a ui-sref="menu.userCardSummary" class="button button-stable button-block ">Summit</a>
        </form>
    </ion-content>
</ion-view>