<ion-view title="Admin Card">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <div>
                <p>
                </p>
                <center>

                    
                    <table border="2" width="100%" cellspacing="5" cellpadding="8" bgcolor="cyan" cols="2">
                        <tbody>
                            <tr>
                                <td colspan="2" align="center">ข้อมูลการ์ด</td>
                            </tr>
                            <tr>
                                <td>card no.</td>
                                <td>888-888-888</td>
                            </tr>
                            <tr>
                                <td>card type</td>
                                <td>Empty Card</td>
                            </tr>
                        </tbody>
                    </table>
                </center>

                <p></p>
            </div>
        </div>
        <form class="list">
            <ion-checkbox>Confirm</ion-checkbox>
        </form>
        <button class="button button-stable button-block ">Submit</button>
    </ion-content>
</ion-view>