<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/bWJhp6FaTsWlILktgpMW_k-logo.gif" width="40%" height="auto">
        </div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Database</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block ">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" class="button button-positive button-clear button-block ">Or create an account</a>
            <button class="button button-dark button-block ">Log out</button>
        </form>
        <div>
            <p>Kasamaplus 2016</p>
        </div>
    </ion-content>
</ion-view>