<ion-view title="SET UP1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <a ui-sref="menu.sETUP" class="button button-stable button-block ">&lt;&lt;</a>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">ชื่อกิจการ</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">ที่อยู่กิจการ</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">สาขา</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">TAX ID</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">TEL NO.</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">FAX NO.</span>
                <input type="number" placeholder="">
            </label>
            <ion-item class="item-divider">เกี่ยวกับ VAT</ion-item>
            <label class="item item-input">
                <span class="input-label">VAT</span>
                <input type="number" placeholder="กรุณากรอก">
            </label>
            <ion-radio>No VAT</ion-radio>
            <ion-radio>Inc.VAT</ion-radio>
            <ion-radio>Ex.VAT</ion-radio>
            <button class="button button-stable button-block ">SUBMIT</button>
        </form>
    </ion-content>
</ion-view>